<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script>
		    $(function() {

		    	var h1Element = $('h1');
		    	var h2Element = $('h2');

		    	var headlines = ["Learn Magic From the Pros", "Learn to Cook Competently in Minutes", "Feed Your Inner Curiosity"];

		    	var quotes = ["I'm an Illusionist, Michael.", "Stop Burning that Toast", "Learn Something New Every Day"];

		    	var quoteNum = 0;
		    	setInterval(function() {
		    		if (quoteNum == 0) {
		    			quoteNum = 1;
		    		}
		    		else if (quoteNum == 1) {
		    			quoteNum = 2;
		    		}
		    		else if (quoteNum == 2) {
		    			quoteNum = 0;
		    		}
		    		h1Element.html(headlines[quoteNum]);
		    		h2Element.html(quotes[quoteNum]);

		    	}, 5000);		      		
            }); 
</script>


<div class="hero">
	<br />

	<div class="frosty col-xs-10 col-xs-offset-1 text-center">
		<br />
        <h1>Learn Magic from the Pros</h1>
        <br />
        <h2>I'm an illusionist, Michael</h2>
        <br />
        <%= link_to 'Learn More', courses_path, :class => 'btn btn-success' %>
        <br /><br />
    </div>
</div>

<br />
<div class"col-xs-10 col-xs-offset-1 features text-center">
	<div class="col-sm-4 text-center front_page_button">
		<%= link_to courses_path do %>
		  <%= image_tag 'learn.png' %>
		  <h3>Learn something new</h3>  
		<% end %>
	</div>

	<div class="col-sm-4 text-center front_page_button">
		<%= link_to new_instructor_course_path do %>
		  <%= image_tag 'teach.png' %>
		  <h3>Teach something cool</h3>		  
		<% end %>
	</div>

	<div class="col-sm-4 text-center front_page_button">
		<%= link_to profit_path do %>
		  <%= image_tag 'dollar.png' %>
		  <h3>Profit</h3>	  
		<% end %>
	</div>
</div>