<div class="hero">
	<br />

	<div class="frosty col-xs-10 col-xs-offset-1 text-center">
		<br />
        <h1>Learn Magic from the Pros</h1>
        <br />
        <h2>I'm an illusionist, Michael</h2>
        <br />
        <%= link_to 'Learn More', courses_path, :class => 'btn btn-success' %>
        <br /><br />
    </div>
</div>

<br />
<div class"col-xs-10 col-xs-offset-1 features text-center">
	<div class="col-sm-4 text-center front_page_button">
		<%= link_to courses_path do %>
		  <%= image_tag 'learn.png', :class => 'front_page_button' %>
		  <h3>Learn something new</h3>  
		<% end %>
	</div>

	<div class="col-sm-4 text-center front_page_button">
		<%= link_to new_instructor_course_path do %>
		  <%= image_tag 'teach.png' %>
		  <h3>Teach something cool</h3>		  
		<% end %>
	</div>

	<div class="col-sm-4 text-center front_page_button">
		<%= link_to profit_path do %>
		  <%= image_tag 'dollar.png', :class => 'front_page_button' %>
		  <h3>Profit</h3>	  
		<% end %>
	</div>
</div>